.row
  .col-md-12
    = render 'teams/table', teams: Team.nfc_west
  .col-md-12
    = render 'teams/table', teams: Team.nfc_east
  .col-md-12
    = render 'teams/table', teams: Team.nfc_south
  .col-md-12
    = render 'teams/table', teams: Team.nfc_north
  .col-md-12
    = render 'teams/table', teams: Team.afc_west
  .col-md-12
    = render 'teams/table', teams: Team.afc_east
  .col-md-12
    = render 'teams/table', teams: Team.afc_south
  .col-md-12
    = render 'teams/table', teams: Team.afc_north
