%tr
  %td #{game_header(game)}
  %td #{game.over_under}
  %td #{game.home_team.try(:name)}
  %td #{game.away_team.try(:name)}
  %td #{game.divison_game}
  - if game.home_team.confidence_score && game.away_team.confidence_score
    %td #{game.home_team.confidence_score.try(:score)}
    %td #{game.away_team.confidence_score.try(:score)}
    %td #{number_to_percentage(game.calculate_overall_score, precision: 2)}
    %td #{game.favorite}
  - else
    %td
    %td
    %td
    %td
  %td
    = link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_game_path(game)
